html {
  background-color: #553973;
  font-family: 'Dosis', sans-serif;}
.quoteBox {
  height: auto;
  width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 3px;
  align-content: center;
  color: white;
}
.buttons {
  color: white;
  width: auto;
  height:auto;
  max-width: 250px;
  text-align: center;
  top: auto;
  left: 50%;
  font-size: 35px;
  border-radius: 15px;
  border: 2px solid white;
  margin: 0 auto;
  white-space: nowrap;

}
.buttons:hover {
  color: black;
}
#quoteDisplay {
  font-size-adjust: auto;
  font-size: 100%;
  width: auto;
  height: auto;
  text-align: center;
  font-size: 55px;
}
#newQuote {
  margin-bottom: 15px;
}
